<!DOCTYPE html>
<html>
	<head>
		<style>
			@import url('https://fonts.googleapis.com/css?family=Monsterrat');
			body{font-family: 'Monsterrat', sans-serif;}
			#title{
				position: absolute;
				margin-left: 27%;
				font-size: 50px;
			}
		</style>
	</head>
	<body style="background-color:#38A1F3">
		<div class = "container-fluid">
			<div class="row">
				<div>
					<h1 id="title"><font family="Monsterrat" color="white">hapi - Twitter Sentiment Analysis</font></h1>
				</div>
			</div>
			<div class = "row">
				<div class="col-sm-6">
					<h1>Explanation</h1>
				</div>
				<div class="col-sm-6">
					<form method="POST">
    						<input name="text">
    						<input type="submit">
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
